.storebtn {
    @fz: inherit;
    @bd: none;      // border
    @bdrs: 0.25em;  // border radius 4px when font-size: 16px
    @path: "";      // relative path from css file to images
    @ext: "png";    // png or svg
    @links-hover: fadeout(#2b9aff, 60%); // color of focus outline

    &-appstore,
    &-gplay,
    &-microsoft {
        display: inline-block;
        vertical-align: text-bottom;
        overflow: hidden;
        font-size: @fz;
        width: 8.5em; // 136px when font-size: 16px
        height: 2.5em; // 40px when font-size: 16px
        border: @bd;
        border-radius: @bdrs;
        padding: 0;
        background-color: #000;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        color: transparent;
        color: #FFF;
        text-indent: -1000%;
        text-decoration: none;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.25em @links-hover;
        }
    }

    &-appstore  {
        background-image: url("@{path}btn-appstore-en.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-appstore-en@2x.png"); }
        }
    }
    &-gplay  {
        background-image: url("@{path}btn-gplay-en.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-gplay-en@2x.@{ext}"); }
        }
    }

    &-microsoft  {
        background-image: url("@{path}btn-microsoft-en.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-microsoft-en@2x.@{ext}"); }
        }
    }

    &-appstore:lang(es) {
        background-image: url("@{path}btn-appstore-es.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-appstore-es@2x.png"); }
        }
    }

    &-gplay:lang(es) {
        background-image: url("@{path}btn-gplay-es.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-gplay-es@2x.png"); }
        }
    }

    &-microsoft:lang(es) {
        background-image: url("@{path}btn-microsoft-es.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-microsoft-es@2x.png"); }
        }
    }

    &-appstore:lang(de) {
        background-image: url("@{path}btn-appstore-de.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-appstore-de@2x.png"); }
        }
    }

    &-gplay:lang(de) {
        background-image: url("@{path}btn-gplay-de.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-gplay-de@2x.png"); }
        }
    }

    &-microsoft:lang(de) {
        background-image: url("@{path}btn-microsoft-de.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-microsoft-de@2x.png"); }
        }
    }

    &-appstore:lang(fr) {
        background-image: url("@{path}btn-appstore-fr.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-appstore-fr@2x.png"); }
        }
    }

    &-gplay:lang(fr) {
        background-image: url("@{path}btn-gplay-fr.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-gplay-fr@2x.png"); }
        }
    }

    &-microsoft:lang(fr) {
        background-image: url("@{path}btn-microsoft-fr.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-microsoft-fr@2x.png"); }
        }
    }

    &-appstore:lang(ru) {
        background-image: url("@{path}btn-appstore-ru.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-appstore-ru@2x.png"); }
        }
    }

    &-gplay:lang(ru) {
        background-image: url("@{path}btn-gplay-ru.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-gplay-ru@2x.png"); }
        }
    }

    &-microsoft:lang(ru) {
        background-image: url("@{path}btn-microsoft-ru.@{ext}");

        & when (@ext = 'png') {
            @media (min-resolution: 2dppx) { background-image: url("@{path}btn-microsoft-ru@2x.png"); }
        }
    }
}

/* hide buttons depending of mobile OS */
.android .storebtn-appstore { display: none; }
.ios .storebtn-gplay        { display: none; }